<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Create date</th>
    <th>Program</th>
    <th>Args</th>
    <th>File map</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.name %></td>
    <td><%= job.description %></td>
    <td><%= job.created_at %></td>
    <td><%= job.program %></td>
    <td><%= job.args %></td>
    <td><%= job.file_map %></td>
    <td><%= link_to 'Show', job %></td>
    <% user = job.user rescue User.find(job.user_id) %>
    <% if current_user?(job.user) or current_user.admin? %>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Job', new_job_path %>
