<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Program:</b>
  <%= @job.command %>
</p>

<p>
  <b>Args:</b>
  <%= @job.args %>
</p>

<p>
  <b>File map:</b>
  <%= @job.file_map %>
</p>
