<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :num_CPUs %><br />
    <%= f.text_field :num_CPUs %>
  </div>
  <div class="field">
    <%= f.label :memory_req %><br />
    <%= f.text_field :memory_req %>
  </div>
  <div class="field">
    <%= f.label :diskspace_req %><br />
    <%= f.text_field :diskspace_req %>
  </div>
  <div class="field">
    <%= f.label :bandwidth_req %><br />
    <%= f.text_field :bandwidth_req %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
