<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resource.name %>
</p>
<p>
  <b>CPUs:</b>
  <%= @resource.cpus %>
</p>

<p>
  <b>Memory:</b>
  <%= @resource.memory %>
</p>

<p>
  <b>Disk:</b>
  <%= @resource.disk %>
</p>

<p>
  <b>Network:</b>
  <%= @resource.network %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
